<% project_tree(Project.active) do |project, level|  %>
  <% project_safe=project.identifier.downcase.tr(" ","_") %>
  <% labels =
     open('plugins/project_colors/assets/stylesheets/colors.css').grep(/\./).map  {|x|
     x[1..-1].capitalize.chop}
     %>
  <% colors = labels.map {|x| [ t(x) ,x.downcase,:class => x.downcase]} %>

<p><label class=<%= settings[project_safe] %>><% level.times do %> &nbsp;&nbsp;&nbsp;&nbsp; <% end %>  <%= project.name %></label>
  <%= select_tag("settings["+project_safe+"]",
      options_for_select(colors,settings[project_safe]),
      class: settings[project_safe] )%>
</p>
<% end %>

